<!DOCTYPE html>
<html>
  <head>
    <title>SoulSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="jumbotron">Soul Sistahs</h1>
    <%= yield %>
      <p><%= link_to "Home", singers_path %></p>
    </div>
  </body>
</html>
